.banner-content {
  position: relative;
  background-size: cover;
  background-position: center;
}

.banner-content .banner-body {
  position: absolute;
  color: #fff;
  width: 50%;
  padding: 20px;
  top: 0;
  left: 0;
  transform: translate(10%, 120%);
}

#banner-desktop {
  display: block;
}

#banner-mobile {
  display: none;
}

#banner-mobile .mobile {
  margin-top: 15em;
}

@media (max-width: 768px) {
  #banner-desktop {
    display: none;
  }
}
