.banner-content {
  position: relative;
  background-size: cover;
  background-position: center;
}

.banner-content .banner-body {
  position: absolute;
  color: #fff;
  width: 50%;
  padding: 20px;
  top: 0;
  left: 0;
  transform: translate(10%, 120%);
}
