/* cards */

.card {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 20px, rgba(0, 0, 0, 0) 0px 3px 6px;
  transition: 250ms ease-in-out;
}
.card:hover {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-header {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.card-img {
  display: block;
  max-width: 100px !important;
  margin: 0 auto;
}

.card-body {
  padding: 1rem 1rem;
  margin-bottom: 0;
  text-align: center;
}

.card-footer {
  border-top: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.card .btn {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
