/* fonts */

.font-bitcon {
  font-family: var(--bs-text-bitcon);
  font-weight: 500;
  font-style: normal;
  color: #0f8b6c;
}

.font-poppins {
  font-weight: 500;
  font-style: normal;
  color: #0f8b6c;
}

.test {
  font-family: var(--bs-text-poppins);
}
