:root {
  --bs-indigo: #6610f2;
  --bs-rgba-indigo: rgba(103, 16, 242, 0.1);
  --bs-purple: #6f42c1;
  --bs-rgba-purple: rgba(110, 66, 193, 0.1);
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgba: 33, 37, 41, 0.9;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 33, 37, 41;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1.1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-text-zen: Zen Antique, serif;
  --bs-text-poppins: "Poppins", sans-serif;
  --bs-text-bitcon: bitcount-mono-single-line-ci, sans-serif;

  --bs--primary: #0f8b6c;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--bs--primary); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--bs--primary); /* Gecko Browsers */
}

body {
  font-family: var(--bs-text-poppins);
  font-size: var(--bs-body-font-size);
  overflow-x: hidden !important;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--bs--primary);
  text-decoration: none;
}

h2 {
  margin: 25px auto;
  font-weight: 700;
}

.hover-effect {
  transition: 200ms ease-in-out;
  transform: translate(0px);
}

.hover-effect:hover {
  transform: translate(0px, -3px) !important;
}

.vh-25 {
  height: 25vh;
}

.vh-50 {
  height: 50vh;
}

.vh-75 {
  height: 75vh;
}

.vh-100 {
  height: 100vh;
}

.w-40 {
  width: 40%;
}

.btn {
  border-radius: 2em !important;
}

.btn--primary {
  color: #fff;
  background-color: #000000;
  border: 3px solid #0f8b6c;
  transition: 350ms ease-in-out;
}

.btn--primary:hover {
  color: #fff;
  background-color: #0f8b6c;
  border-color: #000000;
}

.btn--primary::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f30b";
  opacity: 0;
  margin-left: -5px;
  transition: 350ms ease-in-out;
}

.btn--primary:hover::after {
  opacity: 1;
  margin-left: 8px;
}

@media (max-width: 786px) {
  .text-md-left {
    text-align: left;
  }
}
